*.bak
*.pyc
*.mat
.vscode/settings.json
.ipynb_checkpoints/
.virtual_documents/
vscode/
_build/
local/

# Packaging build artifacts
build/
dist/

# Git is case-sensitive on some operating systems
PyFVTool.egg-info/
pyfvtool.egg-info/
